# This is a pip requirements.txt file for running bridgedb's tests.
#
# To run install these dependencies and run the tests, do:
#
#     $ pip install -r .test.requirements.txt
#     $ make coverage
#
coverage==4.5.4
mechanize==0.4.3
pep8==1.7.1
pylint==2.4.2
sure==1.4.11
