# This is a pip requirements.txt file for running BridgeDB and BridgeDB's test
# suites on Travis CI infrastructure. See https://travis-ci.org/ and the
# .travis.yml file for more info.
#
# Please note that there may be additional dependencies not listed here but
# specified with their version numbers in .travis.yml in order to submit test
# runs which use multiple different dependency versions.
#------------------------------------------------------------------------------
#
# To run install these dependencies and run the tests, do:
#
#     $ pip install -r .test.requirements.txt
#     $ make coverage
#
#------------------------------------------------------------------------------
attrs==19.2.0
Babel==2.8.0
beautifulsoup4==4.8.2
Mako==1.1.1
pycryptodome==3.9.6
Twisted==19.10.0
coverage==5.0.3
coveralls==1.10.0
gnupg==2.3.1
ipaddr==2.2.0
mechanize==0.4.5
Pillow==6.2.2
pygeoip==0.3.2
qrcode==6.1
service_identity==18.1.0
stem==1.8.0
sure==1.4.11
zope.interface==4.7.1
