# This is a pip requirements.txt file for running BridgeDB and BridgeDB's test
# suites on Travis CI infrastructure. See https://travis-ci.org/ and the
# .travis.yml file for more info.
#
# Please note that there may be additional dependencies not listed here but
# specified with their version numbers in .travis.yml in order to submit test
# runs which use multiple different dependency versions.
#------------------------------------------------------------------------------
#
# To run install these dependencies and run the tests, do:
#
#     $ pip install -r .test.requirements.txt
#     $ make coverage
#
#------------------------------------------------------------------------------
Babel==2.7.0
BeautifulSoup==3.2.2
Mako==1.1.0
pycryptodome==3.9.0
Twisted==19.7.0
coverage==4.5.4
coveralls==1.8.2
gnupg==2.3.1
ipaddr==2.2.0
mechanize==0.4.3
Pillow==6.2.1
pygeoip==0.3.2
qrcode==6.1
service_identity==18.1.0
stem==1.7.1
sure==1.4.11
zope.interface==4.6.0
