Babel==2.8.0
beautifulsoup4==4.8.2
html5lib==1.0b8
Mako==1.1.1
pycryptodome==3.9.6
Twisted==19.10.0
gnupg==2.3.1
ipaddr==2.2.0
Pillow==6.2.2
pyOpenSSL==19.1.0
pygeoip==0.3.2
qrcode==6.1
service_identity==18.1.0
stem==1.8.0
zope.interface==4.7.1
